# IntelliJ
.idea/
*.iws
*.iml
*.ipr
*.ips
.idea/

# Eclipse
.settings/
.metadata/
.classpath
.project

#NetBeans
nb-configuration.xml

# Generated
target/
javadoc/
bin/
log/
classes/
build/
META-INF/

# Misc.
.DS_Store
*.swp
*.swo

# externalized configuration file for keys
exchangeConfiguration.json
*secret.keys

# emacs
*~
\#*\#

# ignore tags
GTAGS
GRTAGS
GPATH
GSYMS

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/xchange-*/**
!/xchange-binance/**
!/xchange-kraken/**
!/xchange-bitfinex/**
!/xchange-core/**
!/xchange-gdax/**
!/xchange-hitbtc/**
!/xchange-okcoin/**
!/xchange-bittrex/**
